In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LinearRegression, Lasso, LassoCV

from sklearn import linear_model
from sklearn import metrics
from sklearn.metrics import mean_squared_error
from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import KFold
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

import xgboost as xgb

from copy import deepcopy

sns.set()
%matplotlib inline

In [6]:
data_df = pd.read_csv('cleaned_data.csv')
print(data_df.shape)
data_df.head()

(2970, 78)

,Country,Year,Top_1,Tax_Rev_to_GDP,Individual_Spending_Rate,Society_Spending_Rate,Top_Rate,GDP_growth,1100,1110,...,AC,AD,AE,AF,AG,AH,AI,AJ,AK,CUS
0,Argentina,1965,NaN,NaN,NaN,NaN,NaN,10.569433,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Argentina,1966,NaN,NaN,NaN,NaN,NaN,-0.659726,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Argentina,1967,NaN,NaN,NaN,NaN,NaN,3.191997,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Argentina,1968,NaN,NaN,NaN,NaN,NaN,4.822501,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,1969,NaN,NaN,NaN,NaN,NaN,9.679526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data_df_clean = data_df.dropna()
data_df_clean.reset_index(drop=True, inplace=True)

In [12]:
data_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 78 columns):
Country                     289 non-null object
Year                        289 non-null int64
Top_1                       289 non-null float64
Tax_Rev_to_GDP              289 non-null float64
Individual_Spending_Rate    289 non-null float64
Society_Spending_Rate       289 non-null float64
Top_Rate                    289 non-null float64
GDP_growth                  289 non-null float64
1100                        289 non-null float64
1110                        289 non-null float64
1120                        289 non-null float64
1200                        289 non-null float64
1210                        289 non-null float64
1220                        289 non-null float64
1300                        289 non-null float64
2100                        289 non-null float64
2110                        289 non-null float64
2120                        289 non-null float64
2200                        289 non-null float64
2210                        289 non-null float64
2220                        289 non-null float64
2300                        289 non-null float64
2310                        289 non-null float64
2320                        289 non-null float64
2400                        289 non-null float64
2410                        289 non-null float64
2420                        289 non-null float64
4100                        289 non-null float64
4110                        289 non-null float64
4120                        289 non-null float64
4200                        289 non-null float64
4210                        289 non-null float64
4220                        289 non-null float64
4300                        289 non-null float64
4310                        289 non-null float64
4320                        289 non-null float64
4400                        289 non-null float64
4500                        289 non-null float64
4510                        289 non-null float64
4520                        289 non-null float64
4600                        289 non-null float64
5100                        289 non-null float64
5110                        289 non-null float64
5111                        289 non-null float64
5112                        289 non-null float64
5113                        289 non-null float64
5120                        289 non-null float64
5121                        289 non-null float64
5122                        289 non-null float64
5123                        289 non-null float64
5124                        289 non-null float64
5125                        289 non-null float64
5126                        289 non-null float64
5127                        289 non-null float64
5128                        289 non-null float64
5130                        289 non-null float64
5200                        289 non-null float64
5210                        289 non-null float64
5211                        289 non-null float64
5212                        289 non-null float64
5213                        289 non-null float64
5220                        289 non-null float64
5300                        289 non-null float64
6000                        289 non-null float64
6100                        289 non-null float64
6200                        289 non-null float64
AA                          289 non-null float64
AB                          289 non-null float64
AC                          289 non-null float64
AD                          289 non-null float64
AE                          289 non-null float64
AF                          289 non-null float64
AG                          289 non-null float64
AH                          289 non-null float64
AI                          289 non-null float64
AJ                          289 non-null float64
AK                          289 non-null float64
CUS                         289 non-null float64
dtypes: float64(76), int64(1), object(1)
memory usage: 176.2+ KB

In [43]:
data_df_clean.Country.unique()

array(['Australia', 'Canada', 'Czech Republic', 'Denmark', 'Finland',
       'France', 'Germany', 'Hungary', 'Ireland', 'Italy', 'Japan',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United States',
       'United Kingdom'], dtype=object)

In [13]:
X = data_df_clean.drop(['Country', 'Year', '1100', 'Top_1', '6000'], axis=1)
X.head()

,Tax_Rev_to_GDP,Individual_Spending_Rate,Society_Spending_Rate,Top_Rate,GDP_growth,1110,1120,1200,1210,1220,...,AC,AD,AE,AF,AG,AH,AI,AJ,AK,CUS
0,30.377,10.687945,6.890812,48.5,3.943189,11.471,0.0,6.152,6.152,0.0,...,0.0,0.0,0.025,0.0,0.0,0.0,30.402,0.0,30.402,0.0
1,28.890,10.638735,7.065841,48.5,1.933106,11.915,0.0,4.349,4.349,0.0,...,0.0,0.0,0.007,0.0,0.0,0.0,28.898,0.0,28.898,0.0
2,29.739,10.605550,6.817096,48.5,4.003022,11.773,0.0,4.949,4.949,0.0,...,0.0,0.0,0.009,0.0,0.0,0.0,29.748,0.0,29.748,0.0
3,29.926,10.742314,6.580981,48.5,2.985745,11.891,0.0,4.960,4.960,0.0,...,0.0,0.0,0.016,0.0,0.0,0.0,29.942,0.0,29.942,0.0
4,30.258,10.917760,6.653405,48.5,4.001106,12.143,0.0,5.468,5.468,0.0,...,0.0,0.0,0.022,0.0,0.0,0.0,30.280,0.0,30.280,0.0

In [14]:
X.tail()

,Tax_Rev_to_GDP,Individual_Spending_Rate,Society_Spending_Rate,Top_Rate,GDP_growth,1110,1120,1200,1210,1220,...,AC,AD,AE,AF,AG,AH,AI,AJ,AK,CUS
284,32.592,13.353168,5.718104,50.0,1.694547,9.190,0.160,2.899,2.814,0.085,...,0.301,0.0,0.413,0.0,0.974,0.0,34.280,0.659,34.939,0.187
285,33.514,12.982610,6.144255,50.0,1.452624,9.172,0.221,2.934,2.879,0.055,...,0.300,0.0,0.349,0.0,0.979,0.0,35.142,0.610,35.752,0.180
286,32.755,12.872451,6.014677,50.0,1.481330,8.744,0.259,2.691,2.610,0.081,...,0.318,0.0,0.230,0.0,1.001,0.0,34.304,0.572,34.876,0.172
287,32.574,12.614323,5.978749,45.0,2.052389,8.776,0.224,2.585,2.452,0.133,...,0.334,0.0,0.202,0.0,1.059,0.0,34.170,0.549,34.719,0.168
288,32.176,12.524406,6.063428,45.0,3.054251,8.570,0.215,2.502,2.347,0.155,...,0.353,0.0,0.199,0.0,1.050,0.0,33.778,0.533,34.310,0.162

In [15]:
y = data_df_clean.Top_1

In [16]:
y = y*100

0       8.210000
1       7.570000
2       7.930000
3       8.120000
4       8.420000
5       8.720000
6       9.510000
7       9.110000
8       8.080000
9       8.370000
10      8.550000
11      8.220000
12      8.520000
13      9.040000
14      8.980000
15      9.100000
16     14.621724
17     13.845496
18     13.346314
19     13.228601
20     13.968232
21     14.728966
22     15.426445
23     15.631597
24     14.377438
25     13.298443
26     13.623251
27      8.182738
28      8.187382
29      8.191911
         ...
259    18.266000
260    17.268001
261    17.058000
262    17.202000
263    18.322000
264    19.372000
265    20.100001
266    19.867000
267    19.520000
268    18.540999
269    19.800000
270    19.599999
271    20.779000
272    19.592001
273    20.199999
274    13.508713
275    13.386109
276    13.025820
277    13.238943
278    13.300554
279    14.223754
280    14.820001
281    15.440001
282    15.404682
283    15.420000
284    12.549999
285    12.930375
286    12.696902
287    14.526930
288    13.882713
Name: Top_1, Length: 289, dtype: float64

### Modeling

In [17]:
years = data_df_clean.Year
train_size = int(len(years) * .7)
test_size = len(years) - train_size
print(len(years), train_size, test_size)

289 202 87

In [18]:
lr = LinearRegression()

# Split the data into training and test sets
X_train, y_train = X.loc[0:train_size, :] , y.loc[0:train_size]
X_test, y_test = X.loc[train_size:train_size+test_size, :] , y.loc[train_size:train_size+test_size]
# Fit the model against the training data
lr.fit(X_train, y_train)
# Evaluate the model against the testing data
lr.score(X_test, y_test)

/Users/bradpanzarella/anaconda3/lib/python3.6/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

-3.4578312480931466

In [24]:


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Fit the model against the training data
lr.fit(X_train, y_train)
# Evaluate the model against the testing data
lr.score(X_test, y_test)

-0.5589481750443901

### Lasso

In [28]:
lasso = linear_model.Lasso(alpha=.0000001, max_iter=100000)

lasso.fit(X_train, y_train)
# Evaluate the model against the testing data
print(lasso.score(X_test, y_test))

test_pred = lasso.predict(X_test)
print(mean_squared_error(y_test, test_pred)  *10)

-0.2905884125924685
124.60894983161938

/Users/bradpanzarella/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

### Try With Trimmed Data

In [29]:
data_df_trimmed = pd.read_csv('trimmed_cleaned_data.csv')
print(data_df_trimmed.shape)
data_df_trimmed.head()

(2970, 29)

,Country,Year,Top_1,Tax_Rev_to_GDP,Individual_Spending_Rate,Society_Spending_Rate,Top_Rate,GDP_growth,1100,1200,...,4500,4600,5100,5110,5111,5120,5121,5200,5300,6000
0,Argentina,1965,NaN,NaN,NaN,NaN,NaN,10.569433,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Argentina,1966,NaN,NaN,NaN,NaN,NaN,-0.659726,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Argentina,1967,NaN,NaN,NaN,NaN,NaN,3.191997,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Argentina,1968,NaN,NaN,NaN,NaN,NaN,4.822501,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,1969,NaN,NaN,NaN,NaN,NaN,9.679526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
data_df_trimmed.dropna(subset=['Top_1'], inplace=True)

In [31]:
trim_clean_df = data_df_trimmed.dropna()
print(trim_clean_df.shape)
trim_clean_df.head()

(289, 29)

,Country,Year,Top_1,Tax_Rev_to_GDP,Individual_Spending_Rate,Society_Spending_Rate,Top_Rate,GDP_growth,1100,1200,...,4500,4600,5100,5110,5111,5120,5121,5200,5300,6000
87,Australia,2000,0.0821,30.377,10.687945,6.890812,48.5,3.943189,11.471,6.152,...,0.0,0.0,7.957,3.658,3.379,4.299,2.800,0.769,0.0,0.0
88,Australia,2001,0.0757,28.890,10.638735,7.065841,48.5,1.933106,11.915,4.349,...,0.0,0.0,8.012,3.736,3.631,4.276,2.717,0.766,0.0,0.0
89,Australia,2002,0.0793,29.739,10.605550,6.817096,48.5,4.003022,11.773,4.949,...,0.0,0.0,8.271,4.011,3.899,4.260,2.700,0.776,0.0,0.0
90,Australia,2003,0.0812,29.926,10.742314,6.580981,48.5,2.985745,11.891,4.960,...,0.0,0.0,8.115,4.074,3.957,4.041,2.539,0.832,0.0,0.0
91,Australia,2004,0.0842,30.258,10.917760,6.653405,48.5,4.001106,12.143,5.468,...,0.0,0.0,7.879,3.970,3.864,3.909,2.476,0.808,0.0,0.0

In [52]:
X_trim = trim_clean_df.drop(['Country', 'Year', '1100', 'Top_1', '6000'], axis=1)
X_trim.head()

,Tax_Rev_to_GDP,Individual_Spending_Rate,Society_Spending_Rate,Top_Rate,GDP_growth,1200,1300,2100,2200,2300,...,4400,4500,4600,5100,5110,5111,5120,5121,5200,5300
87,30.377,10.687945,6.890812,48.5,3.943189,6.152,0.0,0.0,0.0,0.0,...,1.381,0.0,0.0,7.957,3.658,3.379,4.299,2.800,0.769,0.0
88,28.890,10.638735,7.065841,48.5,1.933106,4.349,0.0,0.0,0.0,0.0,...,1.282,0.0,0.0,8.012,3.736,3.631,4.276,2.717,0.766,0.0
89,29.739,10.605550,6.817096,48.5,4.003022,4.949,0.0,0.0,0.0,0.0,...,1.372,0.0,0.0,8.271,4.011,3.899,4.260,2.700,0.776,0.0
90,29.926,10.742314,6.580981,48.5,2.985745,4.960,0.0,0.0,0.0,0.0,...,1.496,0.0,0.0,8.115,4.074,3.957,4.041,2.539,0.832,0.0
91,30.258,10.917760,6.653405,48.5,4.001106,5.468,0.0,0.0,0.0,0.0,...,1.260,0.0,0.0,7.879,3.970,3.864,3.909,2.476,0.808,0.0

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X_trim, y, test_size=0.3, random_state=42)

In [54]:
lr = LinearRegression()

# Fit the model against the training data
lr.fit(X_train, y_train)
# Evaluate the model against the testing data
lr.score(X_test, y_test)

0.6607689976616371

In [55]:
lasso = linear_model.Lasso(alpha=.0000001, max_iter=100000)

lasso.fit(X_train, y_train)
# Evaluate the model against the testing data
print(lasso.score(X_test, y_test))

0.6645087558671878

/Users/bradpanzarella/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

### Scale and do CV

In [56]:
std = StandardScaler()
#std.fit(X_train.values.astype(float))
std.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [57]:
X_tr = std.transform(X_train)

X_te = std.transform(X_test)

In [58]:
lr_model7 = Lasso(alpha = 10000)
lr_model7.fit(X_tr,y_train)

Lasso(alpha=10000, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [69]:
lr_model7.score(X_te, y_test)

-0.029862352131365677

In [66]:
# Run the cross validation, find the best alpha, refit the model on all the data with that alpha

alphavec = 10**np.linspace(-12,1,90)

lr_model8 = LassoCV(alphas = alphavec, cv=5, max_iter=1000000, tol=0.1)
lr_model8.fit(X_tr,y_train)

/Users/bradpanzarella/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
/Users/bradpanzarella/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
/Users/bradpanzarella/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
/Users/bradpanzarella/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
/Users/bradpanzarella/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
/Users/bradpanzarella/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
/Users/bradpanzarella/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
/Users/bradpanzarella/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
/Users/bradpanzarella/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
/Users/bradpanzarella/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
/Users/bradpanzarella/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
/Users/bradpanzarella/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

LassoCV(alphas=array([1.00000e-12, 1.39980e-12, ..., 7.14385e+00, 1.00000e+01]),
    copy_X=True, cv=5, eps=0.001, fit_intercept=True, max_iter=1000000,
    n_alphas=100, n_jobs=1, normalize=False, positive=False,
    precompute='auto', random_state=None, selection='cyclic', tol=0.1,
    verbose=False)

In [67]:
lr_model8.alpha_

5.237223688824736e-06

In [68]:
# These are the coefficients when it refit using that best alpha
list(zip(X_train.columns,lr_model8.coef_))

[('Tax_Rev_to_GDP', 0.6390739229398718),
 ('Individual_Spending_Rate', -3.3565459198182404),
 ('Society_Spending_Rate', 0.4456013786098451),
 ('Top_Rate', 0.5303708591171409),
 ('GDP_growth', -0.2537080227047793),
 ('1200', -0.3337521913866633),
 ('1300', -0.5609532918141154),
 ('2100', 0.914006957768652),
 ('2200', 0.5330335641014489),
 ('2300', -1.01908174337348),
 ('2400', -1.2772279035772054),
 ('4100', 1.3663533998964164),
 ('4200', -0.20199997538521677),
 ('4300', -0.6748082613849427),
 ('4400', 0.03665568802839633),
 ('4500', 0.02036269890808692),
 ('4600', 0.5239062590687864),
 ('5100', 33.52691480390239),
 ('5110', -22.896824608401175),
 ('5111', -3.3926180915542385),
 ('5120', -12.762820382854551),
 ('5121', 1.9355986974873791),
 ('5200', -0.46187248241769807),
 ('5300', -0.7229420161372411)]

In [70]:
lr_model8.score(X_te, y_test)

0.6644273146338022

In [75]:
trim_clean_df.Year.unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016])

In [77]:
usa_df = data_df_trimmed[data_df_trimmed.Country == 'United States']
usa_df

,Country,Year,Top_1,Tax_Rev_to_GDP,Individual_Spending_Rate,Society_Spending_Rate,Top_Rate,GDP_growth,1100,1200,...,4500,4600,5100,5110,5111,5120,5121,5200,5300,6000
2549,United States,1966,0.12641,23.767,NaN,NaN,NaN,6.500000,7.692,4.102,...,0.0,0.000,4.358,1.184,0.0,3.174,2.614,0.671,0.0,0.000
2550,United States,1967,0.12145,24.844,NaN,NaN,NaN,2.500000,8.027,4.312,...,0.0,0.000,4.332,1.212,0.0,3.120,2.543,0.643,0.0,0.000
2551,United States,1968,0.12419,24.288,NaN,NaN,NaN,4.800000,8.452,3.464,...,0.0,0.000,4.359,1.299,0.0,3.060,2.490,0.659,0.0,0.000
2552,United States,1969,0.11511,26.606,NaN,NaN,NaN,3.100000,9.789,4.056,...,0.0,0.000,4.504,1.434,0.0,3.071,2.477,0.618,0.0,0.000
2553,United States,1970,0.10793,25.721,5.795811,6.156442,NaN,3.206807,9.412,3.399,...,0.0,0.000,4.522,1.504,0.0,3.018,2.433,0.610,0.0,0.000
2554,United States,1971,0.11084,23.869,6.073088,6.728247,NaN,3.295477,8.407,2.589,...,0.0,0.000,4.511,1.531,0.0,2.981,2.370,0.613,0.0,0.000
2555,United States,1972,0.11119,24.414,6.187622,7.473638,NaN,5.263263,8.580,2.857,...,0.0,0.000,4.403,1.588,0.0,2.814,2.183,0.608,0.0,0.000
2556,United States,1973,0.11019,24.416,6.069109,6.571007,NaN,5.643125,8.492,2.916,...,0.0,0.000,4.323,1.616,0.0,2.707,2.110,0.588,0.0,0.000
2557,United States,1974,0.10552,25.151,6.312618,6.199771,NaN,-0.517155,8.944,2.886,...,0.0,0.000,4.296,1.707,0.0,2.589,2.016,0.614,0.0,0.000
2558,United States,1975,0.10583,24.595,6.609615,4.532804,NaN,-0.197679,8.522,2.800,...,0.0,0.000,4.199,1.731,0.0,2.468,1.867,0.608,0.0,0.000
2559,United States,1976,0.10406,23.968,6.398660,5.872460,NaN,5.386090,8.323,2.596,...,0.0,0.000,4.154,1.715,0.0,2.440,1.795,0.604,0.0,0.000
2560,United States,1977,0.10751,25.215,6.273676,5.105369,NaN,4.608597,8.915,3.075,...,0.0,0.000,4.006,1.741,0.0,2.266,1.698,0.587,0.0,0.000
2561,United States,1978,0.10630,24.963,6.006613,5.634575,NaN,5.561685,9.088,3.004,...,0.0,0.000,3.936,1.760,0.0,2.176,1.597,0.573,0.0,0.001
2562,United States,1979,0.11150,25.170,5.875703,4.811462,NaN,3.175691,9.656,2.982,...,0.0,0.000,3.826,1.769,0.0,2.057,1.495,0.561,0.0,0.001
2563,United States,1980,0.10671,25.526,5.928301,4.819978,NaN,-0.244596,9.974,2.747,...,0.0,0.000,3.906,1.793,0.0,2.113,1.589,0.595,0.0,0.001
2564,United States,1981,0.11052,25.940,5.714364,4.844606,NaN,2.594470,10.320,2.366,...,0.0,0.000,4.209,1.733,0.0,2.477,1.999,0.629,0.0,0.000
2565,United States,1982,0.11264,26.045,5.831573,4.215633,NaN,-1.910891,10.432,1.922,...,0.0,0.000,4.153,1.811,0.0,2.341,1.860,0.665,0.0,0.000
2566,United States,1983,0.11514,23.986,5.694802,4.102360,NaN,4.632457,9.460,1.410,...,0.0,0.000,3.967,1.784,0.0,2.183,1.702,0.627,0.0,0.000
2567,United States,1984,0.12496,24.092,5.547652,5.035028,NaN,7.259087,8.995,1.825,...,0.0,0.000,4.033,1.861,0.0,2.172,1.640,0.614,0.0,0.000
2568,United States,1985,0.12553,24.614,5.576782,5.906777,NaN,4.238738,9.312,1.854,...,0.0,0.000,4.008,1.939,0.0,2.069,1.536,0.623,0.0,0.000
2569,United States,1986,0.12209,24.573,5.642674,6.661702,NaN,3.511614,9.223,1.815,...,0.0,0.000,3.941,1.976,0.0,1.965,1.408,0.615,0.0,0.000
2570,United States,1987,0.13307,25.611,5.687385,6.928959,NaN,3.461748,9.782,2.190,...,0.0,0.000,3.928,1.987,0.0,1.941,1.348,0.580,0.0,0.000
2571,United States,1988,0.14876,25.400,5.680215,7.017545,NaN,4.203972,9.322,2.248,...,0.0,0.000,3.949,2.002,0.0,1.947,1.359,0.576,0.0,0.000
2572,United States,1989,0.14465,25.590,5.758996,6.277123,NaN,3.680524,9.605,2.291,...,0.0,0.000,3.815,1.990,0.0,1.824,1.258,0.552,0.0,0.000
2573,United States,1990,0.14542,25.962,5.948880,5.812347,NaN,1.919370,9.779,1.957,...,0.0,0.050,3.933,2.100,0.0,1.833,1.086,0.640,0.0,0.000
2574,United States,1991,0.13891,25.789,6.115012,6.235358,NaN,-0.074085,9.360,1.827,...,0.0,0.052,4.089,2.074,0.0,2.015,1.236,0.631,0.0,0.000
2575,United States,1992,0.15013,25.671,6.125641,6.606446,NaN,3.555396,9.183,1.933,...,0.0,0.056,4.092,2.080,0.0,2.012,1.222,0.648,0.0,0.000
2576,United States,1993,0.14644,25.874,6.079748,6.844089,NaN,2.745857,9.255,2.172,...,0.0,0.053,4.111,2.089,0.0,2.021,1.204,0.645,0.0,0.000
2577,United States,1994,0.14687,26.208,6.040005,8.179612,NaN,4.037643,9.310,2.274,...,0.0,0.056,4.247,2.126,0.0,2.121,1.276,0.645,0.0,0.000
2578,United States,1995,0.15283,26.465,6.042467,7.724097,NaN,2.718976,9.603,2.448,...,0.0,0.054,4.153,2.146,0.0,2.007,1.222,0.643,0.0,0.000
2579,United States,1996,0.15967,26.954,5.943227,8.210041,NaN,3.795881,10.196,2.513,...,0.0,0.056,4.062,2.153,0.0,1.909,1.216,0.632,0.0,0.000
2580,United States,1997,0.16629,27.386,5.868210,8.334618,NaN,4.487026,10.682,2.515,...,0.0,0.054,4.025,2.140,0.0,1.885,1.155,0.631,0.0,0.000
2581,United States,1998,0.16923,27.786,5.894534,8.185323,NaN,4.449911,11.221,2.339,...,0.0,0.053,4.011,2.145,0.0,1.866,1.130,0.630,0.0,0.000
2582,United States,1999,0.17709,27.847,5.939166,8.016087,NaN,4.685200,11.377,2.312,...,0.0,0.053,3.985,2.159,0.0,1.826,1.094,0.617,0.0,0.000
2583,United States,2000,0.18266,28.202,6.037956,7.929256,46.5,4.092176,11.906,2.230,...,0.0,0.047,3.929,2.152,0.0,1.776,1.056,0.625,0.0,0.000
2584,United States,2001,0.17268,27.159,6.265980,8.386425,45.9,0.975982,11.554,1.567,...,0.0,0.048,3.833,2.100,0.0,1.732,1.056,0.633,0.0,0.000
2585,United States,2002,0.17058,24.942,6.364184,8.699400,45.2,1.786128,9.490,1.429,...,0.0,0.047,3.807,2.059,0.0,1.748,1.063,0.645,0.0,0.000
2586,United States,2003,0.17202,24.399,6.347576,8.831678,41.4,2.806776,8.620,1.822,...,0.0,0.050,3.814,2.057,0.0,1.757,1.050,0.681,0.0,0.000
2587,United States,2004,0.18322,24.623,6.269954,10.162435,41.4,3.785743,8.446,2.231,...,0.0,0.047,3.796,2.068,0.0,1.729,1.016,0.729,0.0,0.000
2588,United States,2005,0.19372,25.933,6.218951,9.648381,41.3,3.345216,9.168,2.860,...,0.0,0.047,3.829,2.103,0.0,1.727,1.009,0.764,0.0,0.000
2589,United States,2006,0.20100,26.663,6.192407,8.829748,41.3,2.666626,9.709,3.069,...,0.0,0.048,3.828,2.135,0.0,1.693,0.991,0.762,0.0,0.000
2590,United States,2007,0.19867,26.713,6.278452,9.171346,41.3,1.778570,10.232,2.667,...,0.0,0.048,3.749,2.110,0.0,1.639,0.949,0.742,0.0,0.000
2591,United States,2008,0.19520,25.690,6.533255,9.101904,41.7,-0.291621,10.192,1.694,...,0.0,0.048,3.656,2.045,0.0,1.611,0.910,0.740,0.0,0.000
2592,United States,2009,0.18541,23.017,6.790424,9.080574,41.7,-2.775530,7.898,1.377,...,0.0,0.052,3.569,1.953,0.0,1.616,0.986,0.670,0.0,0.000
2593,United States,2010,0.19800,23.494,6.670005,8.942818,41.7,2.531921,8.183,1.785,...,0.0,0.050,3.622,1.968,0.0,1.655,0.971,0.684,0.0,0.000
2594,United States,2011,0.19600,23.900,6.466693,9.559720,41.7,1.601455,9.271,1.767,...,0.0,0.047,3.703,1.986,0.0,1.717,0.944,0.722,0.0,0.000
2595,United States,2012,0.20779,24.069,6.267550,9.341941,41.8,2.224031,9.267,2.025,...,0.0,0.045,3.697,1.979,0.0,1.718,0.954,0.724,0.0,0.000
2596,United States,2013,0.19592,25.653,6.204467,9.895209,46.3,1.677332,9.970,2.120,...,0.0,0.045,3.770,2.021,0.0,1.749,0.918,0.729,0.0,0.000
2597,United States,2014,0.20200,25.926,6.138430,9.926944,46.3,2.569194,10.183,2.285,...,0.0,0.044,3.774,2.024,0.0,1.749,0.887,0.714,0.0,0.000

In [73]:
usa_df = trim_clean_df[trim_clean_df.Country == 'United States']
usa_df.head()

,Country,Year,Top_1,Tax_Rev_to_GDP,Individual_Spending_Rate,Society_Spending_Rate,Top_Rate,GDP_growth,1100,1200,...,4500,4600,5100,5110,5111,5120,5121,5200,5300,6000
2583,United States,2000,0.18266,28.202,6.037956,7.929256,46.5,4.092176,11.906,2.230,...,0.0,0.047,3.929,2.152,0.0,1.776,1.056,0.625,0.0,0.0
2584,United States,2001,0.17268,27.159,6.265980,8.386425,45.9,0.975982,11.554,1.567,...,0.0,0.048,3.833,2.100,0.0,1.732,1.056,0.633,0.0,0.0
2585,United States,2002,0.17058,24.942,6.364184,8.699400,45.2,1.786128,9.490,1.429,...,0.0,0.047,3.807,2.059,0.0,1.748,1.063,0.645,0.0,0.0
2586,United States,2003,0.17202,24.399,6.347576,8.831678,41.4,2.806776,8.620,1.822,...,0.0,0.050,3.814,2.057,0.0,1.757,1.050,0.681,0.0,0.0
2587,United States,2004,0.18322,24.623,6.269954,10.162435,41.4,3.785743,8.446,2.231,...,0.0,0.047,3.796,2.068,0.0,1.729,1.016,0.729,0.0,0.0

In [72]:
X_usa = usa_df.drop(['Country', 'Year', '1100', 'Top_1', '6000'], axis=1)
X_usa.head()

,Tax_Rev_to_GDP,Individual_Spending_Rate,Society_Spending_Rate,Top_Rate,GDP_growth,1200,1300,2100,2200,2300,...,4400,4500,4600,5100,5110,5111,5120,5121,5200,5300
2548,23.500,NaN,NaN,NaN,6.4,3.854,0.0,1.190,1.787,0.145,...,0.023,0.0,0.0,4.685,1.128,0.0,3.557,2.984,0.664,0.0
2549,23.767,NaN,NaN,NaN,6.5,4.102,0.0,1.305,1.847,0.118,...,0.027,0.0,0.0,4.358,1.184,0.0,3.174,2.614,0.671,0.0
2550,24.844,NaN,NaN,NaN,2.5,4.312,0.0,1.596,2.114,0.212,...,0.028,0.0,0.0,4.332,1.212,0.0,3.120,2.543,0.643,0.0
2551,24.288,NaN,NaN,NaN,4.8,3.464,0.0,1.585,2.033,0.172,...,0.046,0.0,0.0,4.359,1.299,0.0,3.060,2.490,0.659,0.0
2552,26.606,NaN,NaN,NaN,3.1,4.056,0.0,1.689,2.144,0.175,...,0.053,0.0,0.0,4.504,1.434,0.0,3.071,2.477,0.618,0.0

### Try XGBoost

In [79]:
gbm = xgb.XGBRegressor( 
                       n_estimators=30000, #arbitrary large number
                       max_depth=3,
                       objective="reg:linear",
                       learning_rate=.1, 
                       subsample=1,
                       min_child_weight=1,
                       colsample_bytree=.8
                      )

In [80]:
X_trim = data_df_trimmed.drop(['Country', 'Year', '1100', 'Top_1', '6000'], axis=1)
X_trim.head()

,Tax_Rev_to_GDP,Individual_Spending_Rate,Society_Spending_Rate,Top_Rate,GDP_growth,1200,1300,2100,2200,2300,...,4400,4500,4600,5100,5110,5111,5120,5121,5200,5300
32,NaN,NaN,NaN,NaN,8.111047,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,3.850179,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,-3.385457,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,-0.788999,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,-4.408840,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
y = data_df_trimmed.Top_1*100
y.head()

32    12.390000
33    12.570000
34    13.530000
35    14.340000
36    12.909999
Name: Top_1, dtype: float64

In [89]:
#Split data into 3: 60% train, 20% validation, 20% test
X_train, X_test, y_train, y_test = train_test_split(X_trim, y, test_size=0.2, random_state=2018)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=2019)

In [90]:
eval_set=[(X_train,y_train),(X_val,y_val)]

In [ ]:
fit_model = gbm.fit( 
                    X_train, y_train, 
                    #eval_set=eval_set,
                    eval_metric='rmse',
                    early_stopping_rounds=50,
                    verbose=True #gives output log as below
                   )